---
layout: default
---

<div>

  {{ content }}


  <h1>Linux Server Maintenance</h1>
    <b>On my way to be a eligible server administrator ...</b>
    <div>&nbsp;</div>

    <ul class="post-list">
    {% for post in site.posts %}
      {% if post.path contains 'Server_posts'%}
        <li>
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>


  <h1>Linux: Command & Tool</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.path contains 'Linux_posts'%}
        <li>
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
